
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root {
    --white: #FFFFFF;
    --back-light: #F9F9F9;
    --back-mid: #EEEEEE;
    --shadow: #1B1C1E1A;
    --preto: #1B1C1E;
    --color-main: #51d374;
    --color-light: #d7fbda;
}

body {
    margin: 0;
    background-color: var(--back-light);
    color: var(--preto);
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: var(--color-main);
}

header > img {
    height: 52px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background-color: var(--back-mid);
}

main {
    display: flex;
    justify-content: center;
}